* {
    padding: 0;
    margin: 0;
    border: 0;
}
*, :after, :before {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:active, :focus {
    outline: 0;
}
a:active, a:focus {
    outline: 0;
}
aside, footer, header, nav {
    display: block;
}
body, html {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%}
button, input, textarea {
    font-family: inherit;
}
input::-ms-clear {
    display: none;
}
button {
    cursor: pointer;
}
button::-moz-focus-inner {
    padding: 0;
    border: 0;
}
a, a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
ul li {
    list-style: none;
}
li {
    list-style: none;
}
img {
    vertical-align: top;
}
h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: inherit;
}
img {
    max-width: 100%}
div {
    -webkit-tap-highlight-color: transparent;
}
.content {
    position: relative;
    flex: 1 1 auto;
}

body {
    min-height: 100%;
    color: #21243d;
    font-family: 'Josefin Sans'}
.body_noScroll {
    overflow: hidden;
}
.wrapper {
    display: flex;
    position: relative;
    min-height: 100%;
    flex-direction: column;
}
a {
    color: inherit;
}
._container {
    max-width: 1174px;
    margin: 0 auto;
    padding: 0 20px;
}

._subtitle{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */


    /* Gray ( Paragraph ) */

    color: #6C6C72;
}










.start {
    padding:79px 0px 133px 0px;
}
.start__container {
}
._container {
}
.start__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.start__text__over{
    position: relative;
}
.start__text {
    padding:40px 30px;
    background: white;
    max-width:570px;
    position: relative;
    z-index: 2;

    
}
.start__decor{
    position: absolute;
    z-index: 1;
    top: -12%;
    right:-8%;
    
}
.start__title {
    font-weight: 700;
    font-size: 48px;
    line-height: 63px;
    text-transform: uppercase;

    /* Royal blue */
    padding-bottom:16px;
    color: #5956E9;
}
.start__subtitle {
    padding-bottom:52px;
}
._subtitle {
}
.start__dwnl__title {
    font-weight: 600;
    font-size: 25px;
    line-height: 38px;
    /* identical to box height, or 150% */

    text-transform: uppercase;

    /* Black */

    color: #232233;
}
.start__dwnl__buttons {
    display: flex;
    gap: 20px;
}
.dwnl__button{
    
}
.start__img {
}




























.start__decor__block{
    background: url('../img/start__bg.jpg') 0 0/cover;
    background-position: center;
}


.header {
}
.header__container {
}
._container {
}
.header__social__row {
    padding:36px 0px 20px 0px;
    display: flex;
    gap: 30px;
}
.header__contact__list {
    flex: 1 1 auto;
    display: flex;
    gap: 49px;
}


.cont__item{
    color: white;
    cursor: pointer;
    
}

.header__contact__mail {
    
    padding-left:35px;
    background:url('../img/mail_ic.svg') left no-repeat ;
    
   
}
.header__contact__phone {
    padding-left:31px;
    background:url('../img/phone.svg') left no-repeat ;
}
.social__list {

    display: flex;
}
.social__list__item {
    
}













.header__main__row{
    background: white;
    gap: 40px;
    padding:5px 5px 5px 52px;
    display: flex;

}
.header__main__row ,.header__button{
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height, or 150% */
    border-radius:5px;
    text-transform: uppercase;
}
.header__links__list {
    display: flex;
    gap: 40px;
    align-items: center;
    
}

.link_list__1{
    flex: 1 1 auto;
    
   
    
}
.header__links__list__item{
    position: relative;
    cursor: pointer;
    transition: color 0.6s ease 0s;
}


.header__links__list__item::after{
    background: #5956E9;
    height: 2px;
    transition: transform 0.4s ease 0s;
    position: absolute;
    content: '';
    width: 100%;
    transform: scaleX(0);
    bottom: 10%;
    left: 0;
    
}

.header__links__list__item:hover{
    color:#5956E9;
    
}
.header__links__list__item:hover::after{
    transform: scaleX(1);
}


.header__logo {
    width:200px;
   
    position: relative;
}
.header__logo__item {
    border-radius: 5px;
    position: absolute;
    padding:31px 16px;
    bottom:-35%;

    background: white;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
    
}
.header__button__block {
}
.header__button {
    background: #5956E9;
    border-radius: 5px;
    padding:12px 16px;
    color: white;
    cursor: pointer;
    transition: background .6s ease 0s;
}
.header__button:hover{
    
    background: #4846ca;
    
}
._button {
}
